:root{
--color-transparente: #F3FFBD;
--color-claro: #6F8F72;
--color-escuro: #1F2F16;

}

html, body{
    margin: 0%;
}
body{
    height: 98vh;
    background-color: var(--color-claro);
}
header{
    background-color: var(--color-escuro);
    box-shadow: 2px 2px 6px black;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.19);
}
header h1{
    margin: 0%;
    padding: 60px 0px;
    color: white;
    font-variant: small-caps;
    font-size: 4em;
    text-align: center;
}

main{
    padding: 55px 40px;
    background-image: url(../img/frente-de-site.jpg);
    background-position: center top;
    background-size: contain;

}

section{
    width: 550px;
    padding: 0px 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.762);
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
section a{
    color: black;
    text-decoration: none;
}
section a:hover{
    color: red;
    text-decoration: underline;
}
section p{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.19);
}
section h2{
    font-size: 36px;
    margin: 0%;
    margin-bottom: 2%;
}
section img{
    border-radius: 50%;
    width: 220px;
}

footer{
    color: white;
    background-color: #1F2F16;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 6px black;
}
footer a{
    color: white;
    text-decoration: none ;
}
footer a:hover{
    color: red;
    text-decoration: underline;
}
div{
    padding: 1%;
    text-align: center;
}
div a{
    color: white;
    text-decoration: none;  
}
div a:hover{
     color: red;
     text-decoration: underline;
}
.imagemdiv{
    width: 200px;
    border-radius: 50%;
    padding: 30px;
}
.textoa{
    padding: 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}
